<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>确认订单</title>
    <link href="__PUBLIC__/Css/confirm_order2.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Css/header.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/Css/footer.css" rel="stylesheet" type="text/css">
		<!--[if lt IE 9]>
		<script src="__PUBLIC__/Js/jquery/jquery1.8.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="__PUBLIC__/Js/jquery/jquery.js"><</script>
		<!--<![endif]-->
    <script src="__PUBLIC__/Js/confirm_order/city.js"></script>
	<script>
$(function(){
	$(".setDefault").click(function(){
		var address_id=$(this).attr("value");
		$.ajax({
			url:"__APP__/user/setDefault",
			type:"POST",
			data:"address_id="+address_id,
			success:function(msg){
				alert(msg);
				$(".address").load("__APP__/TabChange/address_info");				
			}
		})
	});
	$(".del").click(function(){
		var address_id=$(this).attr("value");
		$.ajax({
			url:"__APP__/user/delAddress",
			type:"POST",
			data:"address_id="+address_id,
			success:function(msg){
				alert(msg);
				$(".address").load("__APP__/TabChange/address_info");				
			}
		})
	})
})	
	</script>
</head>
<body>
			<foreach name="info_address" item="vo">
            <div class="add_con">
				<if condition="$vo['address_id'] eq $default_address['address_id']">
					<span class="default_add">默认地址:</span><span class="address_id"><{$default_address["username"]}> <{$default_address["phone"]}> <{$default_address["address"]}></span>
				<else/>
					<span value="<{$vo['address_id']}>" class="address_id"><{$vo["username"]}> <{$vo["phone"]}> <{$vo["address"]}></span>
				</if>
				<button class="setDefault" value="<{$vo['address_id']}>" >设为默认地址</button> <button class="del" value="<{$vo['address_id']}>" >删除</button><br/>
                </div>
			</foreach>
<SCRIPT language="javascript">
    setup();
</SCRIPT>
</body>
</html>