	/*all*/
*{padding:0px;margin:0px;}
*:focus {outline: none;} 
ul{list-style:none;}
img{border:0;}
/*header区域*/
.header{width:100%;height:38px;background-color:#EEEEEE;border-bottom:solid 1px #DDDDDD; position:relative;}
.header_container{width:1190px;margin:0 auto;}
.header .header_city{width:76px;height:25px;background:url(..image/shop_image/header1.jpg) left top no-repeat;display:inline-block;margin-top:6px;color:white;font-size:12px;padding-left:7px;line-height:26px;}
.header .header_city a{color:white;text-decoration:none;}
.header .header_reg{float:right;display:inline-block;margin-top:0px;}
.header span a{color:#666666;font-size:12px;text-decoration:none;}
.header span a:hover{color:#FF803A;text-decoration:underline;}
#header_reg ul{width:70px;height:140px;background-color:white;border:solid #eee 1px;border-top:0;background-color:white;display:none;}
#header_reg li{float:left;margin-left:10px;margin-right:5px;border:solid 1px #eee;}
#header_reg li ul li{width:70px;text-align:center;margin-left:0;margin-top:3px;border:0;height:30px;}
.header .header_reg a{color:#666666;font-size:12px;text-decoration:none;display:block;width:70px;height:38px;float:left;background:;line-height:38px;text-align:center;}
.header .header_reg a:hover{color:#FF803A;text-decoration:underline;}
.header .header_reg a:hover span{color:#666666;}
.header .header_reg a span{font-size:15px;display:inline-block;vertical-align:middle;height:30px;}
/*外包含框*/
.container{width:1190px;height:auto;margin:0 auto;}
/*logo和购物车*/
.logo_search{width:100%;height:135px;border-bottom:solid 1px #CDCDCD;}
.logo_search .logo{width:290px;height:100px;float:left;margin-top:15px;}
.logo_search .logo_shop_name{float:left;width:200px;height:65px;padding-left:10px;padding-right:50px;margin-top:35px;border-left:solid 1px #EEEEEE;}
.logo_shop_name .shop_name{font-family:microsoft yahei;color:#666666;font-weight:bold;}
.logo_shop_name .shop_score{font-size:12px;margin-top:15px;display:inline-block;margin-right:12px;}
.logo_shop_name .shop_score span{font-size:15px;color:#666666;font-weight:bold;padding-right:10px;background:url(..image/shop_image/score.jpg) right center no-repeat;}
.logo_shop_name .shop_con{color:#3D6DA4;font-size:15px;cursor:pointer;padding-left:18px;background:url(..image/shop_image/connect.jpg) left center no-repeat;}
.search{width:500px;float:left;padding-top:40px;}
.search input[type="text"]{width:270px;height:25px;border:solid #E3007F 2px;border-right:0;background:url(..image/shop_image/search.jpg)  left center no-repeat;padding-top:3px;padding-bottom:3px;padding-left:28px;font-size:13px;float:left;}
.search input[type="button"]{width:90px;border:0;height:35px;color:white;font-size:15px;font-weight:bold;margin-top:0px;cursor:pointer;}
.shopCar{width:90px;height:25px;float:left;margin-top:39px;margin-left:20px;}
.logo_search ul{width:300px;height:30px;float:left;margin-top:8px;}
.logo_search ul li{float:left;margin-right:15px;}
.logo_search ul li a{color:#888888;font-size:12px;text-decoration:none;}
.logo_search ul li a:hover{color:#FF803A;text-decoration:underline;}

.div_attention{width:100%;height:110px;overflow:hidden}
.div_attention .hulu_baby{width:360px;height:95px;margin-top:10px;float:left;margin-left:415px;}
.div_attention .attention_collect {float:right;margin-top:75px;margin-right:20px;}
.div_attention .attention_collect  span{background-color:#E3017F;width:70px;height:25px;display:inline-block;color:white;text-align:center;line-height:23px;font-family:microsoft yahei;margin-left:10px;cursor:pointer;}
/*������*/
.navigator{width:100%;height:35px;border-bottom:solid 2px #F381BF;margin-bottom:10px;}
.navigator ul li{float:left;width:100px;height:30px;line-height:30px;text-align:center;font-family:microsoft yahei;color:#353535;font-weight:bold;margin-right:20px;cursor:pointer;margin-top:2px;}
.navigator ul li a{width:100px;height:55px;font-family:microsoft yahei;color:#353535;text-decoration:none;}
.navigator ul li.navigator_li{border-bottom:solid 5px #e3007f;}
/*�м�Ĺ��ͼƬ*/
.middle_adv,.middle_adv_mil{width:100%;height:532px;overflow:hidden;position:relative;}
.middle_adv a,.middle_adv_mil a{width:100%;height:532px;position:absolute;top:0;left:0;display:none;}
.middle_adv_mil{margin:20px 0;}
.middle_adv_mil a{display:block}
/*���ѡ��div*/
.code_sel{width:100%;height:160px;background-color:#FFFEEF;}
.code_sel a{width:238px;height:160px;background-color:rded;float:left;text-align:center;text-decoration:none;}
.code_sel a span{margin:0;font-size:20px;font-family:microsoft yahei;color:#9F9F9E;cursor:pointer;}
.code_sel a .code_sel_num{display:block;background-color:#FF58A5;width:130px;height:30px;margin:60px auto;margin-bottom:10px;color:white;border-radius:15px;}
/*�Ż�ȯ*/
.coupon{width:100%;height:auto;overflow:hidden;}
.coupon div{float:left;width:245px;height:125px;text-align:center;padding:35px 75px;}
/*劲爆商品推荐标题*/
.product_rec{width:100%;height:75px;background-color:#D7D7D7;border-top:solid 1px #F9CCE5;border-bottom:solid 1px #F9CCE5;line-height:75px;text-align:center;color:#043A90;font-size:30px;font-weight:bold;font-family:microsoft yahei;}
/*劲爆商品推荐商品*/
.product_rec_list{width:1188px;height:auto;font-family:microsoft yahei;border:solid #aaa 1px;border-top:0;overflow:hidden;}
.pro_con{width:395px;height:430px;float:left;border-bottom:solid 1px #ccc;}
.pro_con+div{border-left:solid 1px #ccc;}
.product_rec_img{width:380px;height:290px;margin:0 auto;padding-top:5px;overflow:hidden;text-align:center;}
.product_rec_img a{width:380px;height:290px;}
/*.product_rec_img img{width:280px;height:290px;}*/
.product_rec_list div.span_container{width:385px;height:200px;border:0;margin:5px auto;text-align:left;margin-top:10px;overflow:hidden;}
.span_container>span{display:block;}
.span_container .title_span{width:385px;height:60px;overflow:hidden;text-align:center;}
.span_container .title_span a{text-decoration:none;color:#565656;}
.span_container .title_span .blue_span{color:#2E5B93;}
.span_container .red_span{color:red;font-size:14px;width:230px;padding-left:20px;display:inline-block;margin-top:10px;}
.span_container .red_span .num_span{font-size:40px;font-family:arial;}
.span_container .line_through{text-decoration:line-through;color:#565656;font-size:14px;margin-left:20px;}
.span_container .over_span{color:white;font-size:23px;background-color:#AAAAAA;width:80px;height:30px;margin-top:10px;text-align:center;border-radius:5px;cursor:pointer;display:inline-block;margin-left:20px;}

.list_bottom_adv{width:100%;height:100px;margin-top:0px;}
/*�м䴩���һЩ���*/
.bottom_adv{width:100%;height:100px;margin-top:30px;}
/*板块设置*/
.floor_con{overflow:hidden;width:1190px;}
/*楼层选项卡*/
.floor_con .floor_nav{width:1190px;height:35px;border-bottom:solid 3px #e3007f;}
.floor_con .floor_nav ul li{float:left;width:80px;height:25px;cursor:pointer;border-top-left-radius:5px;border-top-right-radius:5px;margin-top:10px;line-height:25px;text-align:center;font-family:microsoft yahei;}
.floor_con .floor_nav ul li.cur_li{background-color:#e3007f;color:white;}
.floor{width:1187px;border:solid 1px #ccc;border-top:0;overflow:hidden;}
.floor_body_div{width:236px;height:387px;float:left;border-bottom:solid 1px #ccc;}
.floor_body_div+div{border-left:solid 1px #ccc;}
.floor_body_div .floor_body_div_top{width:236px;height:360px;border-bottom:solid 1px #ccc;text-align:center;}
.floor_body_div .floor_body_div_top div.image_div{width:230px;height:220px;margin:0 auto 5px;overflow:hidden;text-align:center;}
.floor_body_div .floor_body_div_top div.image_div img{width:230px;height:220px;}
.floor_body_div .floor_body_div_top a{color:#666;font-size:14px;font-weight:bold;text-decoration:none;}
.floor_body_div .floor_body_div_top a.title{display:block;width:236px;height:55px;overflow:hidden;}
.floor_body_div .floor_body_div_top a:hover{color:#FF8066;text-decoration:underline;}
.floor_body_div .floor_body_div_top span{color:#DD0000;font-size:16px;margin-top:5px;}
.floor_body_div .floor_body_div_bottom div{width:78px;height:26px;text-align:center;float:left;border-right:solid 1px #ccc;} 
.floor_body_div .floor_body_div_bottom div a{font-size:12px;text-decoration:none;color:#666;line-height:26px;}
.floor_body_div .floor_body_div_bottom div a:hover{text-decoration:underline;color:#FF8066;}
.floor_body_div .floor_body_div_bottom div.floor_body_div_bottom_spec{border-right:0px;}
.floor .floor_span{text-align:left;padding-left:20px;margin-top:5px;background-color:reed;width:216px;height:70px;overflow:hidden;position:relative;}
.floor .floor_span .count_num{position:absolute;left:150px;top:10px;display:block;width:50px;height:25px;color:white;background-color:#e3007f;border-radius:5px;text-align:center;line-height:25px;font-size:14px;}
.floor .floor_span .count_num span{color:white;font-size:14px;margin:0 5px;}
.floor .floor_span>span{margin:0;font-size:12px;color:black;font-family:microsoft yahei;display:block;height:20px;float:left;width:216px;}
.floor .floor_span span.hot{color:red;margin-bottom:5px;}
.floor .floor_span span.price{color:red;font-size:20px;}
.floor .floor_span span.content a{color:#E9658A;}
.floor .floor_span span.name{float:right;display:inline-block;margin-right:15px;}
/*分页效果*/
.page_chos{width:1170px;margin-top:30px;height:35px;padding:10px;text-align:center;}
.page_chos span{display:inline-block;cursor:pointer;}
.page_chos>span{width:50px;height:25px;border:solid 1px #353535;text-align:center;line-height:25px;color:#353535;}
.page_num{display:inline-block;max-width:600px;height:27px;overflow:hidden;vertical-align: bottom;}
.page_num span{width:25px;height:25px;border:solid 1px #353535;text-align:center;line-height:25px;color:#353535;}
/*footer区域*/
.footer{width:100%;height:115px;margin-top:15px;background-color:#E3007F;color:white;}
.footer_container{width:1190px;margin:0 auto;}
.footer .footer_left_div{width:840px;padding-top:20px;padding-left:30px;}
.footer  a{font-size:12px;color:white;text-decoration:none;margin-left:10px;margin-right:10px;}
.footer span{font-size:12px;color:white;margin-left:10px;display:inline-block;margin-top:15px;}
.footer .footer_left_div ul{width:500px;}
.footer .footer_left_div ul li{float:left;margin-right:20px;margin-top:15px;}
.footer .footer_right_div{float:right;width:300px;}
.footer .footer_right_div div{float:left;margin-left:20px;width:30px;height:30px;}
.footer .footer_right_div div.first{float:left;margin-left:20px;width:30px;height:30px;margin-top:-35px;}
.footer .footer_right_div div.second{float:left;margin-left:60px;width:130px;height:50px;margin-top:-45px;}
.footer .footer_right_div span{display:block;width:100%;margin-bottom:10px;}
.footer .footer_right_div .second_div{width:100%;margin-left:0;}





















