
	<!--footer区域-->
	<div class="footer" id="footer">
	<div class="footer_con">
	<div class="footer_left_div">
		<div>
		<a href="__APP__/article/alist/n/about">About Kuihua</a>|
			<a href="__APP__/article/alist/n/contact">Contact Us</a>|
			<a href="__APP__/article/alist/n/employ">Recruitment</a>|
			<a href="__APP__/article/alist/n/tender">Kuihua Tenders</a>|
			<a href="__APP__/article/alist/n/law">Legal Statement</a>|
			<a href="__APP__/article/alist/n/custom">Support</a>|
			<a href="__APP__/shop_manage/index.php">Merchant Login</a>|
			<a href="__APP__/mall_manage/index.php">Mall Login</a>
		</div>
		<span><{$array.copyright}></span>
		<ul>
			<li><a href="#"><img src="__PUBLIC__/image/shop_image/footer1.jpg" /></a></li>
			<li><a href="#"><img src="__PUBLIC__/image/shop_image/footer2.jpg" /></a></li>
			<li><a href="#"><img src="__PUBLIC__/image/shop_image/footer3.jpg" /></a></li>
			<li><a href="#"><img src="__PUBLIC__/image/shop_image/footer4.jpg" /></a></li> 
		</ul>
	
	</div>
	</div>
	</div>
