<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>History</title>
	<style>
		.container{width:905px;padding:10px;border:solid 1px #ccc;}
		.history{width:880px;margin:10px auto;border:solid 1px #ccc;height:90px; overflow:hidden;}
		.history .img{width:60px; height:60px; float:left; margin:14px 10px; border:solid 1px #ccc;}
		.history .title{width:750px;height:60px;margin:14px 10px; border:solid 1px #ccc;float:left;}
		.history .title a{text-decoration: none; color:#353535; font-family:"microsoft yahei";font-size:15px;}
		.history .title a:hover{color:orange;}
	</style>
</head>
<body>
	<div class="container">
	<!--每一条记录-->
		<div class="history">
		<!--商品的图片-->
			<div class="img"><a href="#"></a></div>
		<!--商品的名称-->
			<div class="title">
				<a href="#">Goods' Name</a>
			</div>
		</div>
	</div>
</body>
</html>