<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Confirm Order</title>
    <link href="__PUBLIC__/Css/confirm_order2.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Css/header.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/Css/footer.css" rel="stylesheet" type="text/css">
		<!--[if lt IE 9]>
		<script src="__PUBLIC__/Js/jquery/jquery1.8.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="__PUBLIC__/Js/jquery/jquery.js"><</script>
		<!--<![endif]-->
    <script src="__PUBLIC__/Js/confirm_order/city.js"></script>
	<script>
$(function(){
	$(".setDefault").click(function(){
		var address_id=$(this).attr("value");
		$.ajax({
			url:"__APP__/user/setDefault",
			type:"POST",
			data:"address_id="+address_id,
			success:function(msg){
				alert(msg);
				$(".address").load("__APP__/TabChange/address_info");				
			}
		})
	});
	$(".del").click(function(){
		var address_id=$(this).attr("value");
		$.ajax({
			url:"__APP__/user/delAddress",
			type:"POST",
			data:"address_id="+address_id,
			success:function(msg){
				alert(msg);
				$(".address").load("__APP__/TabChange/address_info");				
			}
		})
	})
})	
	</script>
</head>
<body>
			<input type="radio" name="radio1" checked="checked" value="<{$default['address_id']}>"><span><{$default["username"]}> <{$default["phone"]}> <{$default["address"]}></span><br/>
			<foreach name="adddata" item="vo">
				<input type="radio" name="radio1" value="<{$vo['address_id']}>">
				<span><{$vo["username"]}> <{$vo["phone"]}> <{$vo["address"]}></span><br/>
			</foreach>
<SCRIPT language="javascript">
    setup();
</SCRIPT>
</body>
</html>