<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Confirm Order</title>
    <link href="__PUBLIC__/Css/confirm_order.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Css/header.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/Css/footer.css" rel="stylesheet" type="text/css">
		<!--[if lt IE 9]>
		<script src="__PUBLIC__/Js/jquery/jquery1.8.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="__PUBLIC__/Js/jquery/jquery.js"><</script>
		<!--<![endif]-->
    <script src="__PUBLIC__/Js/confirm_order/confirm_order.js"></script>
    <script src="__PUBLIC__/Js/confirm_order/city.js"></script>
	<script>
		$(function(){
			$(".submit").click(function(){
				var address_id=$(".address :checked").val();
				var cart_item=$(".cart_item").attr("value");
				var message=$(".leave_message").val();
				var num=$(".good_num span").text();
				var type=$(".goodstype").text();
                document.write('<form name=myForm><input type=hidden name=address_id><input type=hidden name=num><input type=hidden name=goodstype><input type=hidden name=cart_item><input type=hidden name=message></form>'); 
                var myForm=document.forms['myForm']; 
                myForm.action='__APP__/order/buy_confirm'; 
                myForm.method='POST'; 
                myForm.address_id.value=address_id; 
				myForm.num.value=num; 
				myForm.goodstype.value=JSON.stringify(type); 
				myForm.cart_item.value=JSON.stringify(cart_item); 
				myForm.message.value=JSON.stringify(message);
				myForm.submit();
			});
			//添加新地址
			$(".confirm_info").click(function(){
				var username=$(":input[name=username]").val();
				//alert(username);
				var text1=$("#Province").val();
				var text2=$("#Country").val();
				var text3=$("#Town").val();
				var text4=$("#cho_inp").val();
				var phone=$(":input[name=phone]").val();
				var address=$("#detail_add").text()+$(":input[name=address]").val();
				var checked=$(".set_address").is(":checked");
				var reg=/^13[0-9]{1}[0-9]{8}$|^15[012356789]{1}[0-9]{8}$|^18[0256789]{1}[0-9]{8}$/;
				 var flag=false;
			   
			if((username=="")||(!reg.test(phone))||($("#cho_inp").val()=="Detailed Address")||text1=="Provice"||text2=="City"||text3=="County"||text4==""){
					 alert("Please input whole Information");
					 return false;
				 }else{
					$.ajax({
					 type:"POST",
					 url:"../user/add_address",
					 data:"username="+username+"&phone="+phone+"&address="+address+"&tag="+checked,
					 success:function(msg){
						 if(msg==1){
							 alert("添加成功");
							 $(".address").load("__APP__/order/address_info");
							 $(".add_information").hide();
						 }else{
							 alert(msg);
							 //alert("请重试");
						 }
						
					 }
					});
				 }
				 
				
				
			});			
		})
	</script>
</head>
<body>
<!--这是header区域-->
<include file="Public:header" />
<div class="container">
    <!--这是logo和进度的部分-->
    <div class="logo_pro">
        <div class="logo"><img src="__PUBLIC__/image/confirm_order/logo.jpg" /></div>
        <div class="shopCar"><img src="__PUBLIC__/image/confirm_order/shopCar.jpg" /></div>
        <div class="progrecess">
            <ul>
                <li class="pro_li_spec"><div class="pro_li_spec">1</div></li>
                <li class="pro_li_spec"><div class="pro_li_spec">2</div></li>
                <li><div>3</div></li>
                <li><div>4</div></li>
            </ul>
            <div class="pro_div">
                <span>My Shopping Cart</span>
                <span>Confirm Order</span>
                <span>Payment</span>
                <span>Payment Success</span>
            </div>
        </div>
    </div>
    <div class="title">
        Dispatching Information
    </div>
    <div class="body_container">


        <div class="address">
			<input type="radio" name="radio1" checked="checked" value="<{$default['address_id']}>"><span><{$default["username"]}> <{$default["phone"]}> <{$default["address"]}></span><br/>
			<foreach name="adddata" item="vo">
				<input type="radio" name="radio1" value="<{$vo['address_id']}>">
				<span><{$vo["username"]}> <{$vo["phone"]}> <{$vo["address"]}></span><br/>
			</foreach>
        </div>




        <div class="add_address">
            <span class="to_address">Send to:</span>
            <span class="add_new_address"><a href="#">Add New Address</a></span>
        </div>

         <div class="add_information">
            <div class="info_div">
                <label><span>*</span>Consignee:</label>
                <input type="text" value="Name" name="username"/>
            </div>

            <div class="info_div">
                <label><span>*</span>Phone Number:</label>
                <input type="text" value="Please input accurately Phone Number" name="phone"/>
            </div>
            <div class="sel_address">
                <label><span>*</span>Address:</label>
                <select id="Province" runat="server" name="province" style="width: 90px;" ></select>
                <select id="Country" runat="server" name="country" style="width: 90px;"></select>
                <select id="Town" runat="server" name="town" style="width: 90px;"></select>
            </div>
            <div class="info_div">
                <label><span>*</span>Detailed Address:</label>
                <span id="detail_add"></span><input type="text" value="Detailed Address" name="address" id="cho_inp"/>
            </div>

            <div>
                <input type="checkbox" class="set_address"/><label  class="set_address_label">Set to the default receiving address</label>
            </div>
            
            <div class="confirm_info">
                Confirm the Information
            </div>
        </div>

    </div>

        <!--底下是支付方式-->
    <!--底下是商品信息及服务信息-->
    <div class="title">
        Goods and Service Information
        <a href="__APP__/order/cart">Return to Shopping Cart to Change Goods</a>
    </div>

    <div class="goods_info">
        <div class="goods_info_top">
            <div class="goods_name">Good's Name</div>
            <div>Good's Price</div>
            <div>Amount</div>
            <div>Service Information</div>
        </div>
			<span class="title_name"><{$result["shop_name"]}></span>
			
			<div class="shop_info"><!--每个商铺对应的一项内容-->
						<div class="good_con">
						<div class="cart_item" value="<{$result['id']}>">
						</div>
						<div class="shop_info_img">
							<img src="<{$result['image_url']}>">
						</div>
						<div class="span_text">
							<a href="#"><{$result["name"]}> <span class="goodstype"><{$type}></span></a>
						</div>
						<div class="price">
							<span><{$result['price']}></span>
						</div>
						<div class="good_num">
							<span><{$num}></span>
						</div>
						<div class="money_div">
							<span class="money"><{$result['freight']}></span>
							<span class="quick">We will deliver the goods as soon as possible after the payment is completed</span>
						</div>
						</div>
				<div class="goods_info_bottom">
					<label for="leave_maeeage">Sent message to Seller:</label>
					<textarea class="leave_message" placeholder="For example：Comment for this transaction，the fill content shall reach an agreement with the seller, Within 90 words"></textarea>
				   <span> <span class="message_num">0</span>/90</span>
				</div>
			</div>

        <!--底下是结算信息
    <div class="title">
        结算信息
    </div>-->

    <div class="balance_info">
        <div class="all_info_list">
            <div>
                <span>Amount Payable:
                <span class="last_price"></span></span>
            </div>
            <div class="submit_order">
                <a href="javascript:void(0)" class="submit">Submit Order</a>
            </div>
        </div>
    </div>

</div>
</div>
<SCRIPT language="javascript">
    setup();
</SCRIPT>
<include file="Public/footer" />
</body>
</html>
