<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title><{$mall["name"]}></title>
<link href="__PUBLIC__/Css/mall.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Css/header.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Css/footer.css" rel="stylesheet" type="text/css">
		<!--[if lt IE 9]>
		<script src="__PUBLIC__/Js/jquery/jquery1.8.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="__PUBLIC__/Js/jquery/jquery.js"><</script>
		<!--<![endif]-->
<script type="text/javascript" src="__PUBLIC__/Js/mall_js/goods_change.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/mall_js/header.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/mall_js/select.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/mall_js/middle.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/mall_js/select_list_ul.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/mall_js/floor_change.js"></script>
<script>
var Public="__PUBLIC__";
	$(function(){
	// 	alert(typeof <{$mall["id"]}>);
	// 	var datad="belong="+(<{$mall["id"]}>.toString());
	// 	alert(datad);
		$.ajax({
			type:"POST",
			url:"__APP__/mall/classify",
			data:"belong="+<{$mall["id"]}>,
			dataType:"json",
			success:function(data){
				var div="";
				for(var item in data){
					div+="<div>";
					var type2=data[item]["item"];
					for(var vi in type2){
						div+="<ul>";
						var type3=type2[vi]["goods_type3"];
						div+="<li class='li_first'>"+type2[vi]["name"]+"></li>";
						//alert(type2[vi]["name"]);
						for(var vo in type3){
							div+="<li><a href='#'>"+type3[vo]["name"]+"</a></li>";
						}
						div+="</ul>";
						
					}
					div+="</div>";
				}
				$("#div_list").append(div);
				$("#div_list>div").height($(".list_adv").height()-$(".id_li_first").height()-61);
				$("#div_list div").hover(function(){
				var index=$(this).index();
						
				var li_index=index-1;
				
				var li=$("#list li");
				
				
				var top=li.eq(li_index).offset().top+li.eq(li_index).height()/2;
				
				var left=li.eq(li_index).offset().left+li.eq(li_index).width();
					
				$("#list li").eq(li_index).css("backgroundColor","#E2007E");

				$(this).show();
				
				$("#div_list span").show().offset({left:left,top:top});
				
			},function(){
				
				var index=$(this).index();
				
				var li_index=index-1;
				
				$("#list li").eq(li_index).css("backgroundColor","#F480C1");

				$(this).hide();
				
				$("#div_list span").hide();
			});
				//alert(div);
			}
		});
	})
</script>
</head>
<body>
<include file="Public/header" />
	<div class="floor_change" id="floor_change">
		<div class="flower" style="width:80px;height:63px;background:url(__PUBLIC__/image/shangcheng_image/floor_flower.jpg) no-repeat top;border:0px;top:0px;"></div>
		<div style="background-color:#FD519D;">To Top</div>
		<foreach name="floorid" item="vo">
			<div style="background-color:<{$vo['background']}>;"><{$vo["name"]}></div>
		</foreach>	
		<div style="background-color:#FD519D;">To Bottom</div>
	</div>
	<!--最外层包围框-->
<div class="container">
	<!--广告区域-->
	<div class="header_adv">
		<a href="<{$adImage['top1']['link_url']}>"><img  style="width:<{$adImage['top1']['width']}>px ; height: <{$adImage['top1']['height']}>px ; " src="<{$adImage['top1']['img_path']}>" /></a>
	</div>
	
	<!--logo和搜索框-->
	<div class="logo_search">
		<div class="logo"><a href="__APP__/mall/index/id/<{$mall['id']}>"><img src="<{$mall['image_url']}>" /></a></div>
		<div class="search">
			<input type="text" name=""/>
			<input type="button" id="search" value="Search" style="background-color:#E3007F;"/>
		</div>
		<div class="shopCar">
		<a href="__APP__/order/cart"><img src="__PUBLIC__/image/shangcheng_image/shopcar.jpg" />
		<!--这段代码是显示购物车数量的-->
		<div>
		<empty name="Think.cookie.num">
			0
		<else/>
			<{$Think.cookie.num}>
		</empty>
		</div>
		</a>
		</div>
		<ul>
			<foreach name="keyword" item="vo">
				<li><a href="__APP__/good/search/n/<{$vo.keyword}>"><{$vo.keyword}></a></li>
			</foreach>
		</ul>
	</div>
	<!--商品列表和广告幻灯片-->
	<div class="list_adv">
	<!--商品列表-->
		<div class="list" style="position:relative" id="div_list">
			<ul id="list">
	<!--使用内部的style来定义背景图片-->
				<li style="background:url(__PUBLIC__/image/mall_image/list1.jpg);"></li>
				<foreach name="type1" item="vi">
					<li><img src="<{$vi.logo}>"><a href="#"><{$vi.name}></a></li>
				</foreach>
			</ul>
			<span><img src="__PUBLIC__/image/mall_image/list_10.jpg"></span>
		</div>
		<!--选项卡-->
			<div class="select_list">
				<ul id="select_list_ul">
					<li style="font-weight:900;font-size:20px;color:black;" class="li_spec">Home</li>
				</ul>
			</div>
		<!--上面的广告和下拉框-->
		
		<!--中间的幻灯片广告-->
		<div class="middle_adv">
			<ul id="middle_adv_ul">
				<foreach name="homefocus" item="row">
				<li><a href="<{$row['link_url']}>"><img src="<{$row['image_url']}>" /></a></li>
				</foreach>
			</ul>
			<div id="to_right" style="display:none">></div>
			<div id="to_left" style="display:none"><</div>
			<div id="to_num">
			</div>
		</div>
		
		<!--右边的便民服务项-->
		<div class="right_adv">
			<div class="right_top">
				<a href="<{$adImage['r1']['link_url']}>"><img  style="width:<{$adImage['r1']['width']}>px ; height: <{$adImage['r1']['height']}>px ; " src="<{$adImage['r1']['img_path']}>" /></a>
			</div>
			<div class="right_bottom">
				<a href="<{$adImage['r2']['link_url']}>"><img  style="width:<{$adImage['r2']['width']}>px ; height: <{$adImage['r2']['height']}>px ; " src="<{$adImage['r2']['img_path']}>" /></a>
			</div>
		</div>
	</div>
	
	<!--中间的商品列表-->
	<div class="middle_goods" id="middle_goods">
		<span class="middle_goods_span"> Recommodation</span>
		<div class="middle_goods_left">
		<foreach name="data" item="row">
			<div>
				<a href="__APP__/good/index/id/<{$row['goods_id']}>" class="a_img"><img src="<{$row['image_url']}>" width="225px" height="225px"></a>
				<a href="__APP__/good/index/id/<{$row['goods_id']}>" class="a_title" title="<{$row["goods_name"]}>"><{$row["goods_name"]}></a>
				<span class="hot_price"><span>Hot Price ￥</span><span class="price"><{$row["price"]}></span><!-- <{$row["discount"]}> -->
				<span class="count"><img src="__PUBLIC__/image/shangcheng_image/cou.jpg" /><{$row["discount"]}>Off</span></span>
			</div>
		</foreach>
		</div>
		<span class="middle_goods_span middle_goods_span_right">Sales Rank</span>
		<div class="middle_goods_right">
			
			<div class="middle_goods_right_first" id="first_goods">Item 1</div>
			<div class="middle_goods_right_second" id="second_goods">Item 2</div>
			<div class="bottom_first" id="bottom_first">
				<for start="0" end="2">
					<div>
						<div class="posi_img"><img src="__PUBLIC__/image/shangcheng_image//goods1.jpg" class="posi_img"/></div>
						<div class="div_img">
						<a href="__APP__/good/index/id/<{$data6[$i]['id']}>" ><img src="<{$data6[$i]['image_url']}>" /></a></div>
						<div class="div_text">
						<a href="__APP__/good/index/id/<{$data6[$i]['id']}>" style="color:#666;font-size:15px;text-decoration:none;height:45px;overflow:hidden;width:100px;display:inline-block;" title='<{$data6[$i]["name"]}>'><{$data6[$i]["name"]}></a><br/>
						<span style="color:red;font-size:18px;font-weight:bold;">￥<{$data6[$i]["price"]}></span><br/>
						<if condition="$data6[$i][sell] neq 0">
							<span style="color:#666;font-size:12px;">Sold Out<span style="color:red;"><{$data6[$i]["sell"]}></span>Pieces</span>
						</if>
						</div>
					</div>
				</for>
				<for start="2" end="3">
					<div class="middle_goods_right_spec">
						<div class="posi_img"><img src="__PUBLIC__/image/shangcheng_image//goods1.jpg" class="posi_img"/></div>
						<div class="div_img">
						<a href="__APP__/good/index/id/<{$data6[$i]['id']}>" ><img src="<{$data6[$i]['image_url']}>" /></a></div>
						<div class="div_text">
						<a href="__APP__/good/index/id/<{$data6[$i]['id']}>" style="color:#666;font-size:15px;text-decoration:none;height:45px;overflow:hidden;width:100px;display:inline-block;" title='<{$data6[$i]["name"]}>'><{$data6[$i]["name"]}></a><br/>
						<span style="color:red;font-size:18px;font-weight:bold;">￥<{$data6[$i]["price"]}></span><br/>
						<if condition="$data6[$i][sell] neq 0">
							<span style="color:#666;font-size:12px;">Sold Out<span style="color:red;"><{$data6[$i]["sell"]}></span>Pieces</span>
						</if>
						</div>
					</div>
				</for>
			</div>
			<div class="bottom_second" id="bottom_second" style="display:none;">
				<for start="4" end="6">
					<div>
						<div class="posi_img"><img src="__PUBLIC__/image/shangcheng_image//goods1.jpg" class="posi_img"/></div>
						<div class="div_img">
						<a href="__APP__/good/index/id/<{$data6[$i]['id']}>" ><img src="<{$data6[$i]['image_url']}>" /></a></div>
						<div class="div_text">
						<a href="__APP__/good/index/id/<{$data6[$i]['id']}>" style="color:#666;font-size:15px;text-decoration:none;height:45px;overflow:hidden;width:100px;display:inline-block;" title='<{$data6[$i]["name"]}>'><{$data6[$i]["name"]}></a><br/>
						<span style="color:red;font-size:18px;font-weight:bold;">￥<{$data6[$i]["price"]}></span><br/>
						<if condition="$data6[$i][sell] neq 0">
							<span style="color:#666;font-size:12px;">Sold Out<span style="color:red;"><{$data6[$i]["sell"]}></span>Pieces</span>
						</if>
						</div>
					</div>
				</for>
				<for start="6" end="7">
					<div class="middle_goods_right_spec">
						<div class="posi_img"><img src="__PUBLIC__/image/shangcheng_image//goods1.jpg" class="posi_img"/></div>
						<div class="div_img">
						<a href="__APP__/good/index/id/<{$data6[$i]['id']}>" ><img src="<{$data6[$i]['image_url']}>" /></a></div>
						<div class="div_text">
						<a href="__APP__/good/index/id/<{$data6[$i]['id']}>" style="color:#666;font-size:15px;text-decoration:none;height:45px;overflow:hidden;width:100px;display:inline-block;" title='<{$data6[$i]["name"]}>'><{$data6[$i]["name"]}></a><br/>
						<span style="color:red;font-size:18px;font-weight:bold;">￥<{$data6[$i]["price"]}></span><br/>
						<if condition="$data6[$i][sell] neq 0">
							<span style="color:#666;font-size:12px;">Sold Out<span style="color:red;"><{$data6[$i]["sell"]}></span>Pieces</span>
						</if>
						</div>
					</div>
				</for>
			</div>
		</div>
	</div>
		<?php  $i=0 ; ?>
	<foreach name="floorid" item="row">
		<!--B1上的广告区域-->  
		<div class="bottom_adv">
			<?php
		   
		   echo "<a name='M$i'  href='".$adImage['f'.$i]['link_url']."'><img style='width:".$adImage['f'.$i]['width']."px;height:".$adImage['f'.$i]['height']."px;' src='".$adImage['f'.$i]['img_path']."'/></a>";
		   $i++;
		   
		   ?>
		</div>
		<div class="floor">
			<div class="floor_top" style="border-bottom:solid 2px red;border-bottom-color:<{$row['background']}>">
				<ul>
					<li style="color:<{$row['background']}>"><{$row["name"]}></li>
					<!--background-color:<{$row['background']}>;color:white;-->
					<foreach name="row['type']" item="vi">
						<li style="background-color:<{$row['background']}>;color:white;"><{$vi[typename]}></li>
					</foreach>
				</ul>
			</div>
			<!--第一个floor_body-->
			<foreach name="row[type]" item="vi">
				<!--楼层图-->
				<div class="floor_body">
				<div class="floor_body_div">
					<a href="#"><img src="__PUBLIC__/image/shop_image/f1.jpg" /></a>
				</div>
				
					<foreach name="vi[goods]" item="vo">
					<div style="font-family:'microsoft yahei';font-weight:bold;">
						<div class="img_div"><img src='<{$vo["image_url"]}>'/></div>
						<div class="name_div"><a href="__APP__/good/index/id/<{$vo[goods_id]}>" title='<{$vo["goods_name"]}>'><{$vo["goods_name"]}></a></div>
						<div class="span_div">
							<span  style="color:red;font-size:20px;margin-left:15px;"><span>Hot Price￥</span><span><{$vo["price"]*$vo["discount"]}></span></span>
							<span class="past_price">Original Price￥<{$vo["price"]}></span>
							<!--<span>已有<span ><a href="#" style="color:#e3007f">20</a></span><span>评论</span></span>-->
						</div>
					</div>
					</foreach>
				</div>
			</foreach>
		</div>
	</foreach>
</div>
<include file="Public/footer" />
</body>
</html>
